<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <input type="text" class="form-control w-50" id="search" aria-describedby="searchHelp" placeholder="Search" [(ngModel)]="search">
        <small id="searchHelp" class="form-text text-muted">Search for Subscription by User's Full Name and Plan Name</small>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="d-flex">
            <div class="form-group">
              <label for="startdate" class="pr-1">Date</label>
              <input class="form-control d-inline" id="startdate" type="date" style="width: 160px;" [(ngModel)]="model.startdate">
            </div>  
            <div class="form-group pl-2">
              <label for="enddate" class="pr-1">To</label>
              <input class="form-control d-inline" id="enddate" type="date" style="width: 160px;" [(ngModel)]="model.enddate">
            </div>  
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group d-md-flex justify-content-end">
            <button class="btn btn-info mb-4" type="button" (click)="startSearch(model.startdate, model.enddate)">Search</button>
            <button class="btn btn-info mb-4" type="button" (click)="clearSearch()">Clear</button>
            <div class="btn-group mb-4 mr-2" ngbDropdown [placement]="'bottom-left'">
              <button class="btn btn-outline-dark" ngbDropdownToggle type="button">Export</button>
              <div ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:" (click)="downloadExcel()">Export to Excel</a>
                <a class="dropdown-item" href="javascript:" (click)="downloadPDF()">Export to Pdf</a>
              </div>
            </div>  
            <button class="btn btn-danger mb-4" type="button" (click)="open(content)">Add Subscription</button>
          </div>            
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
        <app-card [hidHeader]="true">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">User Name</th>
                  <th scope="col">Plan Type</th>
                  <th scope="col">Subscription Start</th>
                  <th scope="col">Subscription End</th>
                  <th scope="col">Status</th>
                  <!-- <th scope="col">Action</th> -->
                </tr>
              </thead>
              <tbody *ngFor="let subscription of subscriptionService.subscription | subFilter: search | paginate: { id: '_id',
              itemsPerPage: 10,
              currentPage: page,
              totalItems: totalRecords }">
              <tr class="read">
                <!-- <td><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user"></td> -->
                <td>
                  <h6 class="mb-1">{{subscription.userid.fullname}}</h6>
                </td>
                <td>
                  <h6 class="mb-1">{{subscription.plan_id.name}}</h6>
                </td>
                <td>
                  <h6 class="mb-1">{{subscription.subscription_start | date: "yyyy/M/dd"}}</h6>
                </td>
                <td>
                  <h6 class="mb-1">{{subscription.subscription_end | date: "yyyy/M/dd"}}</h6>
                </td>
                <td>
                  <h6 class="mb-1">
                    <a href="javascript:" class="label bg-success text-white f-12" *ngIf="subscription.status === 'Active'">Active</a>
                    <a href="javascript:" class="label bg-danger text-white f-12" *ngIf="subscription.status === 'Inactive'">Inactive</a>
                  </h6>
                </td>
                <td>
                  <!-- <a href="javascript:" class="label theme-bg2 text-white f-12" (click)="onEdit(content, subscription)"><i class="feather icon-edit-2"></i></a> -->
                  <!-- <a href="javascript:" class="label theme-bg text-white f-12" (click)="onDelete(subscription._id)"><i class="feather icon-trash"></i></a> -->
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </app-card>
        <pagination-controls  id="_id"
            (pageChange)="page = $event"
            directionLinks="true"
            autoHide="true"
            responsive="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
    </div>
  
    <ng-template #content let-modal>
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Subscription Form</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="subscriptionForm" (ngSubmit)="subscriptionFormSubmit()">
              
              <input type="hidden" name="_id" class="form-control" formControlName="_id">

              <div class="form-group">
                <label for="userid">User</label>
                <div class="input-group">
                  <select id="userid" class="form-control" name="userid" formControlName="userid" [ngClass]="(subscriptionForm.get('userid').touched || subscriptionForm.get('userid').dirty) && subscriptionForm.get('userid').errors ? 'is-invalid' : ''" required>
                    <option value="" disabled>Select User</option>
                    <option *ngFor="let user of userService.users" [ngValue]="user._id" >{{user.fullname}}</option>
                  </select>
                  <div *ngIf="subscriptionForm.get('userid').invalid && (subscriptionForm.get('userid').dirty || subscriptionForm.get('userid').touched)" class="invalid-feedback">
                      <div *ngIf="subscriptionForm.get('userid').errors.required">
                      This field is required
                      </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="plan_id">Subscription Plan</label>
                <div class="input-group">
                  <select id="plan_id" class="form-control" name="plan_id" formControlName="plan_id" [ngClass]="(subscriptionForm.get('plan_id').touched || subscriptionForm.get('plan_id').dirty) && subscriptionForm.get('plan_id').errors ? 'is-invalid' : ''" required>
                    <option value="" disabled>Select Subscription Plan</option>
                    <option *ngFor="let plan of planService.plan" [ngValue]="plan._id" >{{plan.name}}</option>
                  </select>
                  <div *ngIf="subscriptionForm.get('plan_id').invalid && (subscriptionForm.get('plan_id').dirty || subscriptionForm.get('plan_id').touched)" class="invalid-feedback">
                      <div *ngIf="subscriptionForm.get('plan_id').errors.required">
                      This field is required
                      </div>
                  </div>
                </div>
              </div>
              
              <label>Type of Subscription:</label>
              <div class="form-group">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="Monthly" formControlName="type" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Monthly
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="Yearly" formControlName="type">
                    <label class="form-check-label" for="exampleRadios2">
                      Yearly
                    </label>
                  </div>
                </div>
              </div>
              


    
                <div class="modal-footer">
                <button type="submit" class="btn btn-info">Save</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
              </div>
            </form>
          </div>
      </div>
    </ng-template>

  </div>
